/* ---------------forcast-------------------- */

.forecast {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 1rem;
}

/* ---------------forcast-times--------------- */
.forecast-title {
  text-align: center;
}
.forecast-title h3 {
  display: inline-block;
  border-bottom: solid #eee 1px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  width: 98%;
}

/* ---------------forcast-times--------------- */

.forcast-times,
.forecast-days {
  padding: 2rem 0.2rem;
  width: 100%;
  color: white;
  border-radius: 12px;

  background: linear-gradient(
    135deg,
    rgba(84, 84, 84, 0.6),
    rgba(0, 0, 0, 0.8)
  );
  backdrop-filter: blur(15px) brightness(0.8) contrast(1.1);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* ---------------time-weather--------------- */

.time-weather-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time-weather {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  letter-spacing: 1px;
}

/* ---------------forecast-weather--------------- */
.forecast-weather-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.forecast-weather {
  display: flex;
  justify-content: space-between;
}

.forecast-weather > div {
  display: flex;
  align-items: center;
}
.forecast-weather > div:nth-of-type(1) {
  flex: 1;
  justify-content: space-around;
}

.forecast-weather > div:nth-of-type(2) {
  flex: 2;
  justify-content: space-between;
}

.forecast-weather > div:nth-of-type(2) .range {
  width: 100%;
  height: 2px;
  margin: 0 1rem;
  background: linear-gradient(to right, rgb(0, 183, 255), red);
}
